doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body(ng-app='app')
        div(ng-controller='LineCtrl')
            canvas(class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick")
        div(ng-controller='DTCtrl')
            table
    script(type='text/javascript', src='/lib/angular/angular.min.js')
    script(src="/lib/chart.js/dist/Chart.min.js")
    script(src="/lib/angular-chart.js/angular-chart.js")
    script(type='text/javascript', src='/tempChart.js')
